body {
  background-color: #E8DAB2;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/*Header*/


.header__container {
  height: 100vh;
  position: relative;
}

.header-textos__container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 50px;
}

.header__container h2 {
  font-style: italic;
  font-size: 26px;
  margin: 0;
}

.header__container h1 {
  font-size: 52px;
  margin: 0;
}

.header__container img {
  width: 370px;
  height: 192px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

/*Main*/

.main__container{
  background-color: #FFF;
  width: 800px;
  margin-left:50%;
  transform:translateX(-50%);
  padding: 34px 24px 10px 24px;
  box-sizing: border-box;
  border: 2px solid #FFF;
  border-radius: 8px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 5px 2px rgba(179,175,179,1);
  position: relative;
  
}
.main__container h2{
  font-size: 30px;
  margin-top: 0;
  padding: 0;
}

.main__container h3 {
  font-size: 1rem;
}

.main__container ul {
  line-height: 24px;
}

.main__container p {
  line-height: 24px;
}

.main__container img{
  width: 716px;
  margin-left: 16px;
 
}

.main__container iframe {
  width: 716px;
  margin-left: 16px;
  height: 450px;
}


/*Footer*/

.footer {
  position: fixed;
  bottom: 0;
  background-color: #090909;
  height: 50px;
  width: 100%;
  color: #fff;
  
}

.footer p {
  position: absolute;
  right: 1rem;
}

.footer a {
  color: #35B1D2;
  text-decoration: none;
}